[Unit]
Requires=podman-user-wait-remote-fs.service
After=podman-user-wait-remote-fs.service
Description=Vaultwarden password management server

[Container]
Image=ghcr.io/weissnix4711/vaultwarden:latest
AutoUpdate=registry
User=3000:3000
UIDMap="+3000:@3000:1"
Volume=/var/mnt/apps/data/vaultwarden:/data
# ROCKET_PORT from .env doesn't override default. See https://github.com/dani-garcia/vaultwarden/discussions/7049
Environment=ROCKET_PORT=8000
Secret=vaultwarden-client-secret,type=env,target=SSO_CLIENT_SECRET
# Reverse proxy
Network=web.network
Label="traefik.enable=true"
Label="traefik.http.routers.vaultwarden.rule=Host(`vault.thomasaldrian.net`)"
Label="traefik.http.services.vaultwarden.loadbalancer.server.port=8000"

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
