[Unit]
Requires=podman-user-wait-remote-fs.service
After=podman-user-wait-remote-fs.service
Description=Forgejo git server

[Container]
Image=codeberg.org/forgejo/forgejo:13-rootless
AutoUpdate=registry
User=3000:3000
UIDMap="+3000:@3000:1"
Volume=/var/mnt/apps/data/forgejo:/var/lib/gitea
# Reverse proxy
Network=web.network
Label="traefik.enable=true"
Label="traefik.http.routers.forgejo.rule=Host(`git.thomasaldrian.net`)"
Label="traefik.http.services.forgejo.loadbalancer.server.port=3000"
# SSH
Label="traefik.tcp.routers.forgejo-ssh.rule=HostSNI(`*`)"
Label="traefik.tcp.routers.forgejo-ssh.entrypoints=sshalt"
Label="traefik.tcp.services.forgejo-ssh.loadbalancer.server.port=2222"

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
