[Unit]
Requires=forgejo.service
After=forgejo.service
Description=Renovate dependency update bot

[Container]
Image=ghcr.io/weissnix4711/renovate:latest
AutoUpdate=registry
Secret=renovate-token,type=env,target=RENOVATE_TOKEN

[Service]
Type=oneshot

[Install]
WantedBy=default.target
