[Unit]
Wants=podman-user-wait-remote-fs.service
After=podman-user-wait-remote-fs.service
Description=Music Server

[Container]
Image=docker.io/deluan/navidrome:latest
UserNS=keep-id
Volume=/var/mnt/apps/data/navidrome:/data
Volume=/var/mnt/media/music:/music:ro
Environment=ND_LOGLEVEL=info
# Reverse proxy
Network=web.network
Label="traefik.enable=true"
Label="traefik.http.routers.navidrome.rule=Host(`music.thomasaldrian.net`)"

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
