[Unit]
Requires=inventree-server.service
After=inventree-server.service
PartOf=inventree-server.service
# remote-fs
Requires=podman-user-wait-remote-fs.service
After=podman-user-wait-remote-fs.service
Description=InvenTree web server

[Container]
Image=ghcr.io/weissnix4711/inventree-proxy:latest
Pod=inventree.pod
User=3000
Group=3000
Volume=/var/mnt/apps/data/inventree/data/static:/var/www/static:z
Volume=/var/mnt/apps/data/inventree/data/media:/var/www/media:z
Label="traefik.enable=true"
Label="traefik.http.routers.inventree.rule=Host(`inventree.thomasaldrian.net`)"
Label="traefik.http.services.inventree.loadbalancer.server.port=80"

[Service]
Restart=on-failure
