[Unit]
Description=Immich cache

[Container]
Image=docker.io/valkey/valkey:9.0
AutoUpdate=registry
Pod=immich.pod
# Healthcheck
HealthCmd="redis-cli ping || exit 1"
Notify=healthy

[Service]
Restart=on-failure
