[Unit]
Description=Immich ML

[Container]
Image=ghcr.io/immich-app/immich-machine-learning:v2
Pod=immich.pod
Volume=immich-model-cache.volume:/cache
# Healthcheck
Notify=healthy
HealthCmd=python3 healthcheck.py

[Service]
Restart=on-failure
