[Unit]
# sockets
After=http.socket https.socket ldap.socket
Requires=http.socket https.socket ldap.socket
# remote-fs
After=podman-user-wait-remote-fs.service
Wants=podman-user-wait-remote-fs.service
Description=Reverse proxy

[Container]
Image=docker.io/library/traefik:latest
Network=web.network
NetworkAlias=traefik
IP=10.99.0.10
# sd_notify supported
Notify=true
# Allow podman sock access
SecurityLabelType=container_runtime_t
Volume=%t/podman/podman.sock:/var/run/docker.sock
Volume=/var/mnt/apps/certs:/letsencrypt:z
# TODO email in secrets
# redirections to :443 not websecure see https://github.com/traefik/traefik/issues/12469
# insecureskipverify needed for kanidm (web ui and ldap)
Exec= \
    '--entrypoints.web' \
    '--entrypoints.web.http.redirections.entryPoint.to=:443' \
    '--entrypoints.web.http.redirections.entryPoint.scheme=https' \
    '--entrypoints.websecure' \
    '--entrypoints.websecure.asDefault=true' \
    '--entrypoints.websecure.http.tls=true' \
    '--entrypoints.websecure.http.tls.certresolver=le' \
    '--entrypoints.ldapsecure' \
    '--log.level=INFO' \
    '--providers.docker=true' \
    '--providers.docker.exposedbydefault=false' \
    '--certificatesresolvers.le.acme.email=aldrian.thom+letsencrypt@proton.me' \
    '--certificatesresolvers.le.acme.storage=/letsencrypt/acme.json' \
    '--certificatesresolvers.le.acme.dnschallenge=true' \
    '--certificatesresolvers.le.acme.dnschallenge.provider=cloudflare' \
    '--serverstransport.insecureskipverify' \
    '--tcpserverstransport.tls.insecureskipverify'
# Cloudflare API used for le DNS challenge
Secret=cloudflare-email,type=env,target=CF_API_EMAIL
Secret=cloudflare-token,type=env,target=CF_DNS_API_TOKEN
# Serve 404 and ldaps with le certs
Label="traefik.enable=true"
Label="traefik.tls.stores.default.defaultgeneratedcert.resolver=le"
Label="traefik.tls.stores.default.defaultgeneratedcert.domain.main=*.thomasaldrian.net"

[Service]
Restart=on-failure
Sockets=http.socket https.socket ldap.socket

[Install]
WantedBy=default.target
