[Unit]
# sockets
After=http.socket https.socket ldap.socket ssh.socket
Requires=http.socket https.socket ldap.socket ssh.socket
# remote-fs
After=podman-user-wait-remote-fs.service
Requires=podman-user-wait-remote-fs.service
Description=Reverse proxy

[Container]
Image=ghcr.io/weissnix4711/traefik:latest
AutoUpdate=registry
Network=web.network
NetworkAlias=traefik
IP=10.99.0.10
# sd_notify supported
Notify=true
# Allow podman sock access
SecurityLabelType=container_runtime_t
Volume=%t/podman/podman.sock:/var/run/docker.sock
Volume=/var/mnt/apps/certs:/letsencrypt:z
# TODO email in secrets
# Cloudflare API used for le DNS challenge
Secret=cloudflare-email,type=env,target=CF_API_EMAIL
Secret=cloudflare-token,type=env,target=CF_DNS_API_TOKEN

[Service]
Restart=on-failure
Sockets=http.socket https.socket ldap.socket

[Install]
WantedBy=default.target
