[Unit]
Requires=podman-user-wait-remote-fs.service
After=podman-user-wait-remote-fs.service
Description=Kanidm SSO

[Container]
Image=ghcr.io/weissnix4711/kanidm:latest
User=3000
Group=3000
UIDMap="+3000:@3000:1"
Volume=/var/mnt/apps/data/kanidm:/data
# Reverse proxy
Network=web.network
Label="traefik.enable=true"
# Web UI
Label="traefik.http.routers.kanidm.rule=Host(`idm.thomasaldrian.net`)"
Label="traefik.http.services.kanidm.loadbalancer.server.port=8443"
Label="traefik.http.services.kanidm.loadbalancer.server.scheme=https"
# LDAPS
# This catches all traffic on entrypoint ldapsecure
# See https://andrewmzhang.com/blog/2025/traefik-ldaps/
Label="traefik.tcp.routers.kanidm-ldap.rule=HostSNI(`*`)"
Label="traefik.tcp.routers.kanidm-ldap.entrypoints=ldapsecure"
Label="traefik.tcp.routers.kanidm-ldap.tls=true"
Label="traefik.tcp.routers.kanidm-ldap.tls.certresolver=le"
Label="traefik.tcp.routers.kanidm-ldap.tls.domains[0].main=idm.thomasaldrian.net"
Label="traefik.tcp.services.kanidm-ldap.loadbalancer.server.port=3636"
Label="traefik.tcp.services.kanidm-ldap.loadbalancer.server.tls=true"

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
