[log]
  level = "INFO"


[entryPoints]

  [entryPoints.web]
    [entryPoints.web.http.redirections.entryPoint]
      scheme = "https"
      to = ":443"

  [entryPoints.websecure]
    asDefault = true
    http.middlewares = ["sec-headers@file"]
    http.tls.certResolver = "le"

  [entryPoints.ldapsecure]

  [entryPoints.sshalt]


[providers.docker]
  exposedByDefault = false


[certificatesResolvers.le.acme]
  dnsChallenge.provider = "cloudflare"
  email = "aldrian.thom+letsencrypt@proton.me"
  storage = "/letsencrypt/acme.json"


[api]
  disableDashboardAd = true


[ocsp]


# Do not verify certs for kanidm (web UI and ldap) yet
[serversTransport]
  insecureSkipVerify = true


[tcpServersTransport.tls]
  insecureSkipVerify = true


[experimental.plugins.traefik-oidc-auth]
  moduleName = "github.com/sevensolutions/traefik-oidc-auth"
  version = "v0.17.0"


[providers.file]
  directory = "/etc/traefik/dynamic/"
